@font-face {
    font-family: "TikTokFont";
    src: url("@/shared/assets/fonts/TikTokSans.woff2");
}

:root {
    font-family: "TikTokFont";

    --secondary-color: #f1f1f1;
    --text-color: #345;
    --text-secondary-color: #6e7f91;
}

body,
html {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
}


ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}