.container {
    display: grid;
    width: 100%;
    background-color: var(--secondary-color);
    padding: 2em;
    gap: 2em;
    align-content: start;


}

.empty_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: var(--secondary-color);

    h2 {
        margin: 0 0 6px 0;
        color: var(--text-color);
    }

    p {
        color: var(--text-secondary-color);
    }
}