.container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999;

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 300px;
        background-color: white;
        border-radius: 10px;
        padding: 1em;
        box-sizing: border-box;
        color: var(--text-color);
        display: flex;
        flex-direction: column;
        gap: 1em;

        h2 {
            margin: 0;
        }

        .close {
            position: absolute;
            right: 1em;
            top: 1.3em;
            cursor: pointer;
        }
    }
}