.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-right: 13px;
    gap: 1em;
    color: var(--text-color);

    &:hover,
    &.active {
        background-color: var(--secondary-color)
    }

    .icon {
        width: 60px;
        height: 60px;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .name_wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1;

        .name {
            font-weight: bold;
            font-size: 18px;
        }

        .model {
            font-size: 12px;
            color: var(--text-secondary-color);
        }
    }

    .price {
        font-weight: bold;
    }
}