.form {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .map_wrapper {
        display: flex;
        flex-direction: column;
        gap: .5em;

        .label {
            color: var(--text-secondary-color);
            font-size: 14px;
        }
    }
}