.card {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    border-radius: 10px;
    background-color: white;

    .text_wrapper {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 1em;

        h2 {
            color: var(--text-color);
        }

        .parameters {
            display: grid;
            gap: 1em;
            grid-template-columns: 1fr 1fr 1fr;
        }

        .controls {
            display: flex;
            gap: 1em;
            margin-top: auto;
        }
    }

    .car_icon {
        width: 750px;
        transition: color 0.3s ease-in-out;

        svg {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: 1700px) {
    .card {
        .text_wrapper {
            .parameters {
                grid-template-columns: 1fr 1fr;
            }
        }

        .car_icon {
            width: 600px;
        }
    }
}

@media (max-width: 1500px) {
    .card .car_icon {
        width: 500px;
    }
}

@media (max-width: 1400px) {
    .card .car_icon {
        width: 400px;
    }
}

@media (max-width: 1200px) {
    .card .car_icon {
        width: 300px;
    }
}