.list {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .item {
        $color-main: #e1e1e1;

        display: flex;
        padding: 1em;
        width: 100%;
        gap: 1em;
        box-sizing: border-box;
        animation: loading 1s infinite;

        .logo {
            width: 50px;
            height: 50px;
            background-color: $color-main;
            border-radius: 7px;
        }

        .text {
            display: flex;
            flex-direction: column;
            gap: .5em;
            flex: 1;

            .line {
                width: 50%;
                height: 16px;
                background-color: $color-main;
                border-radius: 7px;

                &:nth-child(2) {
                    width: 40%;

                    border-radius: 5px;
                    height: 12px;
                }
            }
        }

        .price {
            width: 70px;
            height: 16px;
            background-color: $color-main;
            border-radius: 10px;
        }


    }
}


@keyframes loading {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .6;
    }

    100% {
        opacity: 1;
    }

}